<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/writeback" method="POST">
    <table>
      <tr>
          <td> 旅遊</td>
          <td></td>
          <td> 加油</td>
          <td></td>
          <td> 現金回饋</td>
          <td></td>
      </tr>
      <tr>
          <td>
        <input type="radio" id="r15" name="rating1" value="5" ><label for="r15">5 </label>
        <input type="radio" id="r14" name="rating1" value="4" ><label for="r14">4 </label>
        <input type="radio" id="r13" name="rating1" value="3" ><label for="r13">3 </label>
        <input type="radio" id="r12" name="rating1" value="2" ><label for="r12">2 </label>
        <input type="radio" id="r11" name="rating1" value="0" CHECKED><label for="r11">1 </label>
      </td>
          <td></td>
          <td>
        <input type="radio" id="r25" name="rating2" value="5" ><label for="r25">5 </label>
        <input type="radio" id="r24" name="rating2" value="4" ><label for="r24">4 </label>
        <input type="radio" id="r23" name="rating2" value="3" ><label for="r23">3 </label>
        <input type="radio" id="r22" name="rating2" value="2" ><label for="r22">2 </label>
        <input type="radio" id="r21" name="rating2" value="1" CHECKED><label for="r21">1 </label>
        </td>
          <td></td>
          <td>
        <input type="radio" id="r35" name="rating3" value="5" ><label for="r35">5 </label>
        <input type="radio" id="r34" name="rating3" value="4" ><label for="r34">4 </label>
        <input type="radio" id="r33" name="rating3" value="3" ><label for="r33">3 </label>
        <input type="radio" id="r32" name="rating3" value="2" ><label for="r32">2 </label>
        <input type="radio" id="r31" name="rating3" value="1" CHECKED><label for="r31">1 </label>
      </td>
      </tr>
      <tr><td>
        <input type="submit" name="sendBtn" value="Submit">
      </td></tr>
    <table>
  </form>
</body>
</html>